header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
    color: springgreen;
}

/*** Section mot à trouver ***/
#word_to_find {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    height: 250px;
    width: 90%;
    justify-content: center;
    border: 2px solid springgreen;
    border-radius: 15px;
    padding : 15px;
    font-size: 20px;
}

.word_to_find__text {
    width: 45%;
    padding: 10px;
}

figure > img {
    border-radius: 15px;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

figcaption {
    color: darkorange;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.word_to_find__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text__data {
    color: dodgerblue;
}

.text__data > span {
    color : crimson;
}

.text__hidden_word {
    display: flex;
    justify-content: center;
    width : 50%;
    margin-bottom: 0;
    padding: 10px;
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: bold;
    color: darkslateblue;
    border: dashed darkturquoise;
    border-radius: 15px;
}

#letters {
    width: 75%;
}

#letters > ul {
    display: flex;
    justify-content: center;
    gap : 10px;
    flex-wrap: wrap;
    padding: 10px;
    cursor: pointer;
    caret-color:royalblue;
}

#letters > ul > li {
    width : 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    border : 2px solid orange;
    border-radius: 50%;
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    color : teal;
    background-color: rgb(239, 202, 134);
}

#letters > ul > .good {
    border-color : green;
    background-color: greenyellow;
}

#letters > ul > .wrong {
    border-color : tomato;
    background-color: rgb(245, 135, 135);
}

.disabled {

}

#word_to_find > .gameover {
    letter-spacing: 0rem;
    font-size: 30px;
    font-weight: bold;
}

#word_to_find > .winner {
    color:green;
}

#word_to_find > .winner::after {
    content: 😸;
}

#word_to_find > .loser {
    color: tomato;
}

#word_to_find > .loser::after {
    content: 😿;
}