body {
    font-family: 'Schoolbell', cursive, sans-serif ;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
}

h1 > span:nth-child(1) {color: springgreen;}
h1 > span:nth-child(2) {color: lime;}
h1 > span:nth-child(3) {color: mediumaquamarine;}
h1 > span:nth-child(4) {color: deeppink;}
h1 > span:nth-child(5) {color: deepskyblue;}
h1 > span:nth-child(6) {color: darkturquoise;}
h1 > span:nth-child(7) {color: aqua;}
h1 > span:nth-child(8) {color: palegreen;}
h1 > span:nth-child(9) {color: hotpink;}
h1 > span:nth-child(10) {color: darkviolet;}
h1 > span:nth-child(11) {color: fuchsia;}
h1 > span:nth-child(12) {color: blueviolet;}
h1 > span:nth-child(13) {color: gold;}
h1 > span:nth-child(14) {color: turquoise;}
h1 > span:nth-child(15) {color: mediumslateblue;}
h1 > span:nth-child(16) {color: aquamarine;}
h1 > span:nth-child(17) {color: blue;}
h1 > span:nth-child(18) {color: hotpink;}

.listes {
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 20px ;
    flex-wrap: wrap;
    width : 75%; 
}

.listes > li:before {
    content: "⭐";
}

.listes > li:nth-child(1) {color: springgreen;}
.listes > li:nth-child(2) {color: lime;}
.listes > li:nth-child(3) {color: mediumaquamarine;}
.listes > li:nth-child(4) {color: deeppink;}
.listes > li:nth-child(5) {color: deepskyblue;}
.listes > li:nth-child(6) {color: darkturquoise;}
.listes > li:nth-child(7) {color: aqua;}
.listes > li:nth-child(8) {color: palegreen;}
.listes > li:nth-child(9) {color: hotpink;}
.listes > li:nth-child(10) {color: darkviolet;}
.listes > li:nth-child(11) {color: fuchsia;}

/*** Section mot à trouver ***/
#word_to_find {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: auto;
    margin: auto;
    justify-content: space-evenly;
    border: 2px solid springgreen;
    border-radius: 15px;
    padding : 20px;
    font-size: 20px;
}

.word_to_find__text {
    padding: 20px;
}

figure > img {
    border-radius: 15px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    align-items: center;
}

figcaption {
    color: darkorange;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.word_to_find__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text__data {
    color: dodgerblue;
}

.text__data > span {
    color : crimson;
}

.text__hidden_word {
    display: flex;
    justify-content: center;
    width : auto;
    margin-bottom: 0;
    padding: 10px;
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: bold;
    color: darkcyan;
    border: dashed darkturquoise;
    border-radius: 15px;
}

#letters {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#letters > ul {
    display: flex;
    justify-content: center;
    gap : 10px;
    flex-wrap: wrap;
    padding: 10px;
    cursor: pointer;
    caret-color:royalblue;
}

#letters > ul > li {
    width : 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    border : 2px solid mediumorchid;
    border-radius: 50%;
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    color : indigo;
    background-color: powderblue;
}

#letters > ul > .good {
    border-color : green;
    background-color: greenyellow;
}

#letters > ul > .wrong {
    border-color : tomato;
    background-color: rgb(245, 135, 135);
}

.gameover {
    letter-spacing: 0rem;
    font-size: 30px;
    font-weight: bold;
}

.winner {
    color:lime;
}

.winner:after {
    content: "😸";
}

.loser {
    color: crimson;
}

.loser:after {
    content: "😿";
}

#letters > button {
    font-size: 25px;
    padding: 20px;
    align-self: center;
    text-align: centre;
    border-radius: 15px;
    border: 2px solid mediumvioletred;
    background-color:yellow;
    color: darkcyan;
    cursor: pointer;
}